.TextContent2 {
  h1 {
    // background-color: white;
    // position: absolute;
    color: #261668;
    // width: 40%;
    // padding-left: 12%;
    text-align: center;
    font-size: 36px;
    z-index: 2;
    font-weight: bold;
    // margin-top: 20px;
  }
}
.Slide1 img {
  // width: 50%;
  // height: 100%;
  // background-color: rebeccapurple;
  // z-index: 5;
}

.titleSlide p {
  font-family: AEH;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  z-index: 4;
}

.faculty {
  font-family: AvenirLTStd;
  // position: absolute;
  // padding-top: 20px;
  text-align: right;

  // background-color: red;

  // flex-direction: column;
}

.faculty span {
  // font-family: AEH;
  width: 100%;
  z-index: 3;
  font-size: 13px;
  font-weight: bold;
  // padding-left: 40px;
}

.container {
  width: 90%;
  height: 500px;
  margin: 5%;
}
.slick-slide {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  img {
    height: 50%;
    width: 50%;
    // background-color: saddlebrown;
    border: 2.5px solid white;
    box-sizing: border-box;
    margin-left: 0%;
    z-index: 5;
  }
}

.flex-container-partner {
  display: flex;
  > div {
    margin: 10px;
    // margin-left: 13%;
    // margin-top: -10px;
    align-content: center;
    background-color: white;
    width: 90%;
    height: 70%;
    // box-shadow: 0px 8px 20px 1px #888888;
  }
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
